---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.0
  name: workloadtrackers.placement.kubernetes-fleet.io
spec:
  group: placement.kubernetes-fleet.io
  names:
    categories:
    - fleet
    - fleet-placement
    kind: WorkloadTracker
    listKind: WorkloadTrackerList
    plural: workloadtrackers
    singular: workloadtracker
  scope: Cluster
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        description: WorkloadTracker expresses user intent to track certain workloads
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          workloads:
            description: Workloads is a list of workloads to track
            items:
              description: WorkloadReference represents a workload to be tracked
              properties:
                name:
                  description: Name is the name of the workload
                  type: string
                namespace:
                  description: Namespace is the namespace of the workload
                  type: string
              required:
              - name
              - namespace
              type: object
            type: array
        type: object
    served: true
    storage: true
